<%- include('../partials/adminPartials/adminPartial.ejs') %>
<body>
  <style>
    body {
      overflow-x: hidden;
    }
  </style>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div
        class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
        style="background-color: #343a40"
      >
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            href="/admin/"
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
          >
            <span class="fs-5 d-none d-sm-inline">Admin</span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li>
              <a
                href="/admin/adminDashboard"
                class="nav-link align-middle px-0"
              >
                <img
                  src="/img/admin/dashboard.svg"
                  alt=""
                  style="width: 1rem"
                /><span class="ms-1 d-none d-sm-inline">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/admin/orders" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/orders.svg"
                  alt=""
                  style="width: 1rem"
                /><span class="ms-1 d-none d-sm-inline">Orders</span></a
              >
            </li>
            <li>
              <a href="/admin/salesReport" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/salesReport.svg"
                  alt=""
                  style="width: 1rem"
                /><span class="ms-1 d-none d-sm-inline">Sales Report</span></a
              >
            </li>
            <li>
              <a href="/admin/products" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/products.svg"
                  alt=""
                  style="width: 1rem"
                /><span class="ms-1 d-none d-sm-inline">Products</span></a
              >
            </li>
            <li>
              <a href="/admin/addProducts" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/add products.svg"
                  alt=""
                  style="width: 1rem"
                />
                <span class="ms-1 d-none d-sm-inline">Add Products</span></a
              >
            </li>
            <li>
              <a href="/admin/Categories" class="nav-link px-0 align-middle">
                <img src="/img/admin/category.svg" alt="" style="width: 1rem" />
                <span class="ms-1 d-none d-sm-inline">Categories</span></a
              >
            </li>
            <li>
              <a href="/admin/addCategory" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/add category.svg"
                  alt=""
                  style="width: 1rem"
                />
                <span class="ms-1 d-none d-sm-inline">Add Category</span></a
              >
            </li>
            <li>
              <a href="/admin/coupons" class="nav-link px-0 align-middle">
                <img src="/img/admin/coupon.svg" alt="" style="width: 1rem" />
                <span class="ms-1 d-none d-sm-inline">Coupons</span></a
              >
            </li>
            <li>
              <a href="/admin/addCoupon" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/addCoupon.svg"
                  alt=""
                  style="width: 1rem"
                />
                <span class="ms-1 d-none d-sm-inline">Add Coupon</span></a
              >
            </li>
            <li>
              <a href="/admin/userDetails" class="nav-link px-0 align-middle">
                <img src="/img/admin/users.svg" alt="" style="width: 1rem" />
                <span class="ms-1 d-none d-sm-inline">Users</span>
              </a>
            </li>
            <li>
              <a href="/admin/logout" class="nav-link px-0 align-middle">
                <img src="/img/admin/exit.svg" alt="" style="width: 1rem" />
                <span class="ms-1 d-none d-sm-inline">Logout</span>
              </a>
            </li>
          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
        <div class="container">
          <h1>Product Details</h1>
          <div class="table-responsive">
            <table
              class="table table-bordered table-hover align-middle mb-0"
              id="table"
            >
              <thead class="thead-dark">
                <tr>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Sl.No
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Product
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Price (Rs.)
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Category
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Description
                  </th>
                  <!-- <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Stock
                  </th> -->
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Image
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Edit
                  </th>
                  <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    Options
                  </th>
                </tr>
              </thead>
              <tbody>
                <% allProducts.forEach((allProducts,index)=>{ %>
                <tr>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                    <%= index + 1 %>
                  </td>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                    <%= allProducts.name %>
                  </td>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                    <%= allProducts.price %>
                  </td>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                    <%= allProducts?.category?.name %>
                  </td>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                    <%= allProducts.description %>
                  </td>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                    <img
                      src="<%=allProducts?.images[0]?.url%>"
                      style="width: 5rem"
                    />
                  </td>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                    <a href="/admin/editProducts/<%=allProducts._id%>"
                      ><button type="submit" class="btn btn-primary">
                        Edit
                      </button></a
                    >
                  </td>
                  <td class="col-3 col-md-3 col-lg-3 col-xl-2 text-center">
                    <% if(allProducts.isActive === true) { %>
                    <a href="/admin/isActive/<%=allProducts._id%>">
                      <button
                        type="submit"
                        class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to Unlist <%= allProducts.name %>')"
                      >
                        Unlist
                      </button>
                    </a>
                    <% }else{ %>
                    <a href="/admin/isInactive/<%=allProducts._id%>">
                      <button
                        type="submit"
                        class="btn btn-success"
                        onclick="return confirm('Are you sure you want to List <%= allProducts.name %>')"
                      >
                        List
                      </button>
                    </a>
                    <% } %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#table").DataTable();
    });
  </script>
 <script>
  const menuLinks = document.querySelectorAll("#menu a.nav-link");
  const currentUrl = window.location.pathname;

  menuLinks.forEach((link) => {
    if (link.getAttribute("href") === currentUrl) {
      link.setAttribute("style", "color: white; text-decoration: none;");
    }
  });
</script>
</body>
