<%- include('../partials/adminPartials/adminPartial.ejs') %>
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div
        class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
        style="background-color: #343a40"
      >
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            href="/admin/"
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
          >
            <span class="fs-5 d-none d-sm-inline">Admin Panel</span>
          </a>
          <ul
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu"
          >
            <li>
              <a href="/admin/adminDashboard" class="nav-link align-middle px-0">
                <img
                  src="/img/admin/dashboard.svg"
                  alt=""
                  style="width: 1rem"
                /><span class="ms-1 d-none d-sm-inline">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/admin/orders" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/orders.svg"
                  alt=""
                  style="width: 1rem"
                /><span class="ms-1 d-none d-sm-inline">Orders</span></a
              >
            </li>
            <li>
              <a href="/admin/salesReport" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/salesReport.svg"
                  alt=""
                  style="width: 1rem"
                /><span class="ms-1 d-none d-sm-inline">Sales Report</span></a
              >
            </li>
            <li>
              <a href="/admin/products" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/products.svg"
                  alt=""
                  style="width: 1rem"
                /><span class="ms-1 d-none d-sm-inline">Products</span></a
              >
            </li>
            <li>
              <a href="/admin/addProducts" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/add products.svg"
                  alt=""
                  style="width: 1rem"
                />
                <span class="ms-1 d-none d-sm-inline">Add Products</span></a
              >
            </li>
            <li>
              <a href="/admin/Categories" class="nav-link px-0 align-middle">
                <img src="/img/admin/category.svg" alt="" style="width: 1rem" />
                <span class="ms-1 d-none d-sm-inline">Categories</span></a
              >
            </li>
            <li>
              <a href="/admin/addCategory" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/add category.svg"
                  alt=""
                  style="width: 1rem"
                />
                <span class="ms-1 d-none d-sm-inline">Add Category</span></a
              >
            </li>
            <li>
              <a href="/admin/coupons" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/coupon.svg"
                  alt=""
                  style="width: 1rem"
                />
                <span class="ms-1 d-none d-sm-inline">Coupons</span></a
              >
            </li>
            <li>
              <a href="/admin/addCoupon" class="nav-link px-0 align-middle">
                <img
                  src="/img/admin/addCoupon.svg"
                  alt=""
                  style="width: 1rem"
                />
                <span class="ms-1 d-none d-sm-inline">Add Coupon</span></a
              >
            </li>
            <li>
              <a href="/admin/userDetails" class="nav-link px-0 align-middle">
                <img src="/img/admin/users.svg" alt="" style="width: 1rem" />
                <span class="ms-1 d-none d-sm-inline">Users</span>
              </a>
            </li>
            <li>
              <a href="/admin/logout" class="nav-link px-0 align-middle">
                <img src="/img/admin/exit.svg" alt="" style="width: 1rem" />
                <span class="ms-1 d-none d-sm-inline">Logout</span>
              </a>
            </li>
          </ul>
          <hr />
        </div>
      </div>
      <div class="col py-3">
        <h1>User Details</h1>
        <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle mb-0" id="table">
          <thead class="thead-dark">
            <tr>
              <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center" scope="col">User ID</th>
              <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center" scope="col">Username</th>
              <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center" scope="col">Email</th>
              <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center" scope="col">Mobile</th>
              <th class="col-3 col-md-3 col-lg-3 col-xl-1 text-center" scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% for(let user of allUsers) { %>
            <tr>
              <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center"><%= user._id %></td>
              <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center"><%= user.username %></td>
              <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center"><%= user.email %></td>
              <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center"><%= user.mobile %></td>
              <td class="col-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <% if(user.isBlocked === false) { %>
                <a href="/admin/blockUser/<%= user._id%>"
                  ><button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to block <%=user.username%>')">
                    Block
                  </button></a
                >
                <%} else{ %>
                <a href="/admin/unblockUser/<%= user._id%>"
                  ><button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to unblock <%=user.username%>')">
                    unblock
                  </button></a
                >
                <% } %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#table").DataTable();
    });
  </script>
<script>
  const menuLinks = document.querySelectorAll("#menu a.nav-link");
  const currentUrl = window.location.pathname;

  menuLinks.forEach((link) => {
    if (link.getAttribute("href") === currentUrl) {
      link.setAttribute("style", "color: white; text-decoration: none;");
    }
  });
</script>
</body>
